<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Inida's biggest political poll
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'custom_css/style.css'%}">
    <link rel="stylesheet" href="{% static 'custom_css/responsive.css'%}">
</head>
<body>
<header id="header">
    <div class="message">
        <!--Are you a candidate? <a>Signup!</a>-->
    </div>
</header>
<section id="body">
    {% if is_result %}
    <div class="leaderboad_wrapper">
        <div class="leaderboard_container">
            {% for party in leading_parties %}
            <div class="leaderboard">
                <div class="leaderboard_logo">
                    {% if party.logo %}
                    <img src="{{party.logo.url}}" alt="leaderboard Logo">
                    {% endif %}
                </div>
                <div class="leaderboard_content">
                    <div class="leaderboard_name">
                        {{party.name}}
                        <br>
                        Total vote: {{party.vote_count}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {%endif%}
    <div class="form_container">
        <div class="form_wrapper">
            <div class="text">
                <img src="{% static 'images/indias-biggest-politician-latest.gif'%}">
            </div>
            <div class="wrapper">
                <form class="form" method="post" action="{% url 'home'%}">
                    <div class="select_your_neta">
                        <div class="container_header">
                            Vote for your party:
                        </div>
                        <div class="neta_input_form">
                            {% csrf_token %}
                            {{form.as_p}}
                            <div class="button">
                                <button type="submit" name="button">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="search_result">
                    {% if is_search_result %}
                    {% if is_result_empty %}
                    No matching record found.
                    {% else %}

                    {%for result in search_results %}
                    <div class="neta_wrapper">
                        <div class="neta_image">
                            {% if result.photo %}
                            <img src="{{result.photo.url}}" alt="Neta's Image"></img>
                            {% endif %}
                        </div>
                        <div class="neta_details">
                            <div class="content_wrapper">
                                <span>Name :</span> {{result.get_full_name}}
                            </div>
                            <div class="content_wrapper">
                                <span>Party :</span> {{result.party}}
                            </div>
                            <div class="content_wrapper">
                                <span>Constituency :</span> {{result.constituency}}
                            </div>
                        </div>
                        <form class="form" method="post" action="{% url 'vote_member' member_pk=result.pk %}">
                            {% csrf_token %}

                            <div class="button">

                                <button type="submit" name="button">Vote</button>
                            </div>
                        </form>

                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="ad_space_area" align="center" style="color:red; padding:4px;">
            {{message}}
            <br>
            This is your duty to reach more and more people
            <br>
            Share it on WhatsApp with friends and family to support your party.

        </div>
    </div>
</section>
</body>
</html>
