<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class="login_page_wrapper">
        <div class="login_form register_form">
            <div class="container_header"> Register</div>
            <form class="form_login form_register" action="index.html" method="post">
                <input placeholder="Name In English" name="englishName" />
                <input placeholder="Name In Hindi" name="hindiName" />
                <input placeholder="Father Name" name="fatherName" />
                <input placeholder="Date of Birth" name="dateOfBirth" />
                <input placeholder="Address" name="address" />
                <input placeholder="Party" name="party" />
                <input placeholder="Mobile Number" name="mobileNumber" />
                <input placeholder="Assembly Constituenty Name List" name="assemblyList" />
                <input class="email" type="email" placeholder="Email" name="email" />
                <div class="button">
                    <button type="submit"> Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
